<div class="modal fade" id="instagram_info_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel">
                <div class="panel-heading panel-purple">
                    <button type="button" class="close purple_button" aria-label="Close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p><%= @user.name %>さんのinstagramのユーザーネーム</p>
                </div>
                <div class="panel-body">
                    <div class='center-block'>
                        <p id='at_sign'><%= @user.insta_id %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>