<table id='favorites_table' class='table table-hover'>
  <thead>
    <tr>
      <th><%= icon('fas', 'music', class: 'strong fa-2x') %></th>
      <th><%= icon('fas', 'user', class: 'strong fa-2x') %></th>
      <th><%= icon('fas', 'sitemap', class: 'strong fa-2x') %></th>
    </tr>
  </thead>
  <tbody id='iTunes-result' style="font-size:14px; font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;">
  </tbody>
</table>