<div class="modal fade" id="twitter_info_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p><%= @user.name %>さんのTwitterのID</p>
                </div>
                <div class="panel-body">
                    <div class='center-block'>
                        <p id='at_sign'>@<%= @user.tw_id %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>