@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');



/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes spin {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}



html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;
  background-color: #fff9e3;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

ul{ /* ヘッダーのautocompleteのulが隠れるため追加。Bootstrapのheaderのz-index = 1030 */
  z-index: 1031 !important;
}

a{
  transition: transform 0.2s linear;
  &:hover {
    transform: scale(1.1);
  }
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin: 0px 10px 10px 0px;
  font-size: 0.9em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* alert */
.alert-warning{
  background-color: #ffdfcc;
  border-color: #d6b5a0;
  color: #7c6354;
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}


/* forms */

input, textarea, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  margin-left: 8px !important;
  margin-right: 8px !important;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .form-group;
  @extend .has-error;
  margin-bottom: 0;
}

.form-control{
  height: 42px;
  input{
    font-size:16px;
    padding: 11px;
    width: 30px;
  }
  select{
  }
}

.search-box{
  border-radius: 8px;
  border-width: 0;
  background-color: hsla(0, 0%, 100%, .8);
  padding: 5px;
  margin-bottom: 25px;
}

.form-group{
  display: inline-block;
  float: left;
  padding-right: 10px;
}

.button_colored{
  background: #ddd09f;
  border-color: #b2a67b;
  &:hover{
    background: #b2a67b;
  }
}

#iTunes-result {
  tr{
    cursor: pointer;
    cursor: hand;
  }
}


/* users index */

.users {
  list-style: none;
  margin: 10px 0 10px 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    height:128px;
    vertical-align:middle;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
    img{
      width:90px;
    }
  }
}

.user_index_li{
  background-color: white;
  border-radius: 7px 7px 7px 7px;
  margin-bottom: 10px;
  &:hover{
    cursor: pointer;
    background-color: #f7f7f7;
  }
}

.index_avatar{
  margin: 8px 15px auto 20px;
  float: left;
}

.index_hitting_texts{
  float: right;
  clear: right;
  margin: 2px 30px 0 0;
}

.user_name_index{
  float: left;
  margin: 39px 0 0 129px;
  font-size: 1.1em;
  position: absolute;
}


/* users show |saved| */

.favorite{
  background: white;
  z-index: 1;
}

.trash_icon_active{
  transform: scale(1.05);
}

#favorites_table {
  td{
    padding-right: 0px;
  }
  
  th{
    padding-bottom: 10px;
  }
}

#trash_favorites_area {
  height: 100px;
  background: #eee;
}

#trash_icon {
  font-size: 5em;
  color: #606060;
}

#music_icon{
  font-size: 3em;
  z-index: 1;
  opacity: 0.7;
  color: #606060;
}

#introduction_modal{
  .modal-dialog{
    width: 70%;
  }
}

#intro_form_container{
  margin: 0;
  padding: 0 17px 0 0;
}

#submit_for_intro{
  float: none;
}

#introduction_jumbo{
  padding-bottom: 70px;
  .fa-edit{
    color: #7f7f7f;
    font-size: 1.7em;
  }
  .fa-youtube-square{
    color: #d85858;
  }
  .modal_open_button{
    float: right;
    position: absolute;
  }
  .intro_text{
    font-size: 0.8em;
  }
}

.jumbotron{
  margin: 10px 0 35px 0;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  h1{
    margin: 0 0 20px 0;
  }
}

#sns_icons{
  margin-top: 10px;
  height: 80px;
  button {
    margin: 0px;
  }
}

#mail_icon {
  color: #f3a11d;
}
#facebook_icon {
  color: #3b5998;
}
#line_icon {
  color: #00b900;
}
#twitter_icon {
  color: #1da1f3;
}
#instagram_icon{
  color: #bb72db;
}

.invalid_icon{
  opacity: 0.3;
  color: black !important;
  pointer-events: none;
}

.blankSns_icon{
  opacity: 0.3;
  color: black !important;
}

.mbutton_box{
  button{
    position: absolute;
  }
  width: 70px;
  height: 0px;
  display: inline-block;
}

.card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: rgba(214, 224, 226, 0.2);
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .card-heading {
    padding: 0 20px;
    margin: 0;
    .simple {
      font-size: 20px;
      font-weight: 300;
      color: #777;
      border-bottom: 1px solid #e5e5e5;
    }
    .image {
      img {
        display: inline-block;
        width: 46px;
        height: 46px;
        margin-right: 15px;
        vertical-align: top;
        border: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
      .card-heading-header {
        display: inline-block;
        vertical-align: top;
        h3{
          margin: 0;
          font-size: 14px;
          line-height: 16px;
          color: #262626;
        }
        span {
          font-size: 12px;
          color: #999999;
        }
      }
    }
  }
  .card-body {
    padding: 0 20px;
    margin-top: 20px;
  }
  .card-media {
    padding: 0 20px;
    margin: 0 -14px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
  }
  .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
    .comments-collapse-toggle {
      padding: 0;
      margin: 0 20px 12px 20px;
    }
    .comments-collapse-toggle{
      a, span{
        padding-right: 5px;
        overflow: hidden;
        font-size: 12px;
        color: #999;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
    .card-top {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 170px;
      height: 150px;
      background-color: #ffffff;
      .green{
        background-color: #53a93f;
      }
      .blue{
        background-color: #427fed;
      }
    }
    .card-info {
      position: absolute;
      top: 150px;
      display: inline-block;
      width: 100%;
      height: 101px;
      overflow: hidden;
      background: #ffffff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      .title {
        display: block;
        margin: 8px 14px 0 14px;
        overflow: hidden;
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        color: #404040;
      }
      .desc {
        display: block;
        margin: 8px 14px 0 14px;
        overflow: hidden;
        font-size: 15px;
        line-height: 16px;
        color: #737373;
        text-overflow: ellipsis;
      }
    }
    .card-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      padding: 10px 20px;
      line-height: 29px;
      text-align: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}
.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}
.card.people:first-child {
    margin-left: 0;
}
.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgba(214, 224, 226, 0.2);
  background-image: url(https://www.transparenttextures.com/patterns/brushed-alum-dark.png);
  .cardheader {
    background-size: cover;
    height: 200px;
  }
  .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    img {
      object-fit: cover;
      width: 160px;
      height: 160px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 5px solid rgba(255,255,255,0.5);
    }
  }
  .info {
    padding: 4px 8px 10px;
    .title {
      margin-bottom: 4px;
      font-size: 24px;
      line-height: 1;
      color: #262626;
      vertical-align: middle;
    }
    .desc {
      overflow: hidden;
      font-size: 14px;
      line-height: 20px;
      color: #737373;
      text-overflow: ellipsis;
    }
  }
}

#profile_user_name{
  margin: 7px 0 13px 0;
}

#image_inCardheader{
  width: 100%;
  clip: rect(0px, 1140px, 200px, 0px);
  position: absolute;
  left: 0;
}

#user_attr_avatar, #submit_for_avatar, #user_attr_header, #submit_for_header {
  display:none;
}

.for_linkers{
  transition: transform 0.2s linear;
  &:hover{
    cursor: pointer;
    transform: scale(1.02);
  }
}

#sns_buttons{
  height: 80px;
  width: auto;
  float: none;
  position: relative;
  padding-right: 58px;
}

#youtube_iframe{
  margin-left: 15%;
  width: 70%;
  height: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border: 7px solid rgba(255, 255, 255, 0.5);
  background-color: #fffaf9;
}

#youtube_block{
  width: 100%;
  height: 330px;
  display: table;
  margin: 30px auto 20px auto;
}


/* users show |search_form| */

.music_data{
  background: white;
  z-index: 1;
  transition: transform 0.2s linear;
  &:hover{
    cursor: pointer;
    transform: scale(1.02);
  }
}

#registration_favorites_container{
  top: 00px;
  position: relative;
  transition: top 0.3s linear ;
  &:hover{
    top: 0;
  }
}


/* Home */
#car_image{
  width: 270px;
  height: auto;
  float: right;
  margin: 65px 200px 60px 0;
}

#waiting_image{
  float: left;
  clear: left;
  height: 160px;
  width: auto;
  margin: 50px 0 0 280px;
}

#front_logo_container{
  margin: 0 0 0 80px;
  h1{
    float: left;
    clear: left;
    font-size: 7em;
    margin: 0 0 0 0;
  }
}

#home_form_group{
  margin-top: 50px;
  margin-bottom: 0px;
}

#record_image{
  height: auto;
  width: 150px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
  margin: 26px 0 0 60px;
}

.rotate_image{
  -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 6s linear infinite;
    -ms-animation: spin 6s linear infinite;
    -o-animation: spin 6s linear infinite;
    animation: spin 6s linear infinite;
}


/* user show |Modal Window| */
.modal_open_button{
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: 53px;
  height: 56px;
  i{
    visibility: visible;
  }
}

.modal-dialog{
  left: 0px !important;
  .modal-content{
    .panel{
      margin-bottom: 0px;
      .container {
        margin-left: 86px;
        width: 100%;
      }
      .panel-heading{
        height: 43px;
      }
    }
  }
  .btn {
    width: 100px;
    float: right;
  }
  .row{
    width: 232px;
    margin: 13px auto 0 auto;
  }
}

.panel-purple{
  color: #63347a;
  background-color: #eecffc;
  border-color: #bea1cc;
}

.purple_button{
  color: white;
  background: #a165bf;
  &:hover{
    background: #784591;
  }
}

#for_url_input{
  margin-left: 0px;
  
}

#user_tw_id{
  width: 60%;
}
#delete_for_tw {
  margin-right: 20px;
}
#user_line_id{
  width: 60%;
}
#delete_for_line {
  margin-right: 20px;
}
#user_fb_id{
  width: 60%;
}
#delete_for_fb {
  margin-right: 20px;
}
#user_contact_adress {
  width: 60%;
}
#delete_for_adress {
  margin-right: 20px;
}
#user_insta_id{
  width: 60%;
}
#delete_for_insta{
  margin-right: 20px;
}
#user_yt_url{
  width: 97%;
}
#delete_for_yt{
  margin-right: 20px;
}
#at_sign{
  font-size: 1.7em;
  margin-right: 10px;
}


/* Help */
#fishing_image{
  margin: 30px 0 90px 512px;
  width: auto;
  height: 160px;
  float: left;
}

.logo_image{
  float: left;
  clear: left;
  margin: 10px 0 0px 90px;
  width: auto;
  height: 80px;
}